fastapi
uvicorn[standard]
python-dotenv
python-multipart
pydantic
pydantic-settings
openai
pinecone
langchain
langchain-community
langchain-experimental
langchain-text-splitters
langchain-openai
langchain-pinecone
pypdf
